%h3= data.title

.column
  = image_tag data.images.first.path, :alt => data.images.first.alt

.column.description
  %p= data.description
  %p.more
    %a(href="#{data.link}" title="#{data.link_title}")
      = data.link_title

.column
  = image_tag data.images.last.path, :alt => data.images.last.alt

.column.map
  %iframe(frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="#{data.gmaps.url}")
  %a(href="#{data.gmaps.link.url}" title="#{data.gmaps.link.title}")
    = data.gmaps.link.label
