- content_for :title do
  %title
    JRubyConf EU

.small-13.large-4.columns
  %h1
    dates
  %i.foundicon-calendar
  %h2 14 - 15 August 2013
  %p
    After a first successful European excursion in 2012, JRubyConf is back,
    bigger and better – this year as a two-day, single track conference.
  %p
    JRubyConf will take place on
    <strong>Wednesday 14 and Thursday 15 August</strong> and form part of the
    = link_to 'eurucamp week', 'http://2013.eurucamp.org'
    of Ruby events.

  %h1
    venue
  %i.foundicon-location
  %h2 Back to Berlin
  %p
    JRubyConf returns to Germany’s vibrant capital, Berlin. Our striking
    downtown location will be announced shortly.

.logo.small-13.large-4.columns.hide-for-small
  %img{:src=>'/images/jrubyconf_logo_alone.png'}

.small-13.large-4.columns
  %h1
    tickets
  %i.foundicon-cart
  %p
    Early-bird tickets for JRubyConf EU and eurucamp will be available from
    Wednesday 10 April, 10am CEST. Check back here on Monday or
    = link_to 'follow us on Twitter', 'https://twitter.com/jrubyconfeu'
    for the registration link.
  -#%p
    Early-bird tickets for JRubyConf EU and eurucamp are now available from
    = succeed '.' do
      = link_to 'tickets.eurucamp.org', 'http://tickets.eurucamp.org/'

  %h1
    speakers
  %i.foundicon-mic
  %h2 Be part of it
  %p
    Our Call For Proposals (CFP) opens next week (week beginning 8 April).
    Get your thinking caps on!
  %p
    &nbsp;
  -#%p
    Our Call For Proposals (CFP) is now open at
    = succeed '.' do
      = link_to 'cfp.eurucamp.org', 'http://cfp.eurucamp.org/'
  %p
    &nbsp;
