-# coding: utf-8
!!! 5
%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{:content=>"IE=edge,chrome=1", :'http-equiv'=>"X-UA-Compatible"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"favicon.png"}
    <script type="text/javascript" src="//use.typekit.net/vwi8wfs.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    = stylesheet_link_tag 'normalize', 'style', 'general_foundicons'
    = yield_content :title
    <script src="/js/custom.modernizr.js"></script>

  %body
    //content
    .content
      .row
        .small-13.large-1.columns.hide-for-small
          %p &nbsp;
        = yield.force_encoding('UTF-8')
      .row.hide-for-small
        .small-13.large-13.columns
          %p &nbsp;
          %p &nbsp;

    //home
    .home.hide-for-small
      %a{:href =>"/"}
        %img{:src=>'/images/jrubyconf_logo_ver.png'}
      //%h1
      //  %a{:href =>"/"}
      //    JRubyConf EU

    //navigation
    .row.bottom.hide-for-small
      .large-12.large-offset-1.columns.black
        %dl.sub-nav
          %dd
            %img{:src=>'/images/twitter_icon.png'}
          %dd
            %img{:src=>'/images/lanyrd_icon.png'}
          %dd
            %img{:src=>'/images/facebook_icon.png'}
          %dd
            %img{:src=>'/images/jruby_logo.png'}




    :javascript
      document.write('<script src=' +
      ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
      '.js><\/script>')

    = javascript_include_tag 'foundation/foundation'
    -#javascript_include_tag 'foundation/foundation.alerts'
    -#javascript_include_tag 'foundation/foundation.clearing'
    -#javascript_include_tag 'foundation/foundation.cookie'
    -#javascript_include_tag 'foundation/foundation.dropdown'
    -#javascript_include_tag 'foundation/foundation.forms'
    -#javascript_include_tag 'foundation/foundation.joyride'
    -#javascript_include_tag 'foundation/foundation.magellan'
    -#javascript_include_tag 'foundation/foundation.orbit'
    -#javascript_include_tag 'foundation/foundation.placeholder'
    -#javascript_include_tag 'foundation/foundation.reveal'
    -#javascript_include_tag 'foundation/foundation.section'
    -#javascript_include_tag 'foundation/foundation.tooltips'
    = javascript_include_tag 'foundation/foundation.topbar'

    <script>$(document).foundation();</script>
