---
title: Speakers
layout: sub_page
---

%article.text-only.speaker
  %header.wrapper
    %figure
      = image_tag "speakers/#{speaker.twitter}@2x.jpg", :alt => "Image of #{speaker.name}"
    %h3
      = speaker.name
    %p.meta
      = speaker.company

  %section.bio
    .wrapper
      = markdown(speaker.bio)

  %section.talk
    .wrapper
      %h4
        = surround '“', '”' do
          = speaker.title
      = markdown(speaker.paper)