---
title: Speakers
layout: sub_page
---
%article.text-only.speaker

  %header.wrapper
    %figure
      = image_tag "speakers/#{speaker.twitter}@2x.jpg", :alt => "Image of #{speaker.name}"
    %h3
      = speaker.name
    %p.meta
      = speaker.company

  %section.bio
    .wrapper
      %p
        = lorem.paragraphs 3

  %section.talk
    .wrapper
      %h4
        = lorem.words(rand(4) + 3)
      %p
        = lorem.paragraphs 4

